body{
    text-align: center;
    background-color:#ff69b4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100%;
}

nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
img{
    width: 50%;
}
.resultado {
    width: 100%;
    height: vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}
